<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.myapp.dao.MemberDAO">
    <select id="getName" resultType="String">
        select name from member where id = #{id} and pw = #{pw}
    </select>

    <insert id ="setUser">
        insert into member (id, pw, gender, name, authority)
            values ( #{id},#{pw},#{gender},#{name},#{authority})
    </insert>
</mapper>